@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app consists of a POC for implementing SignalR in an ASP.NET Framework 4.8 environment.</p>
<p>It consists of a live chat that notifies new users and sends incoming messages to all participants.</p>
