@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Github:</strong> <a target="_blank" href="https://github.com/discimus">https://github.com/discimus</a><br />
    <strong>Linkedin:</strong> <a target="_blank" href="https://www.linkedin.com/in/j%C3%B4nata-pereira-a12b8511b/">https://www.linkedin.com/in/j%C3%B4nata-pereira-a12b8511b/</a>
</address>